* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navLogo {
  width: 167px;
  height: 55px;
}
.navLogo img {
  width: 100%;
  height: 100%;
}

.navHolder {
  position: relative;
}

.navBars {
  display: none;
}

.navBars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navBars.active .bar:nth-child(2) {
  opacity: 0;
}
.navBars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.navBars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -10px;
  height: 80px;
  width: 57vw;
  overflow: hidden;
  -webkit-transition: height 0s, opacity 0.4s ease-in;
  transition: height 0s, opacity 0.4s ease-in;
}
.navLinks a {
  font-family: "Caveat";
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.btnLogin {
  width: 158px;
  height: 52px;
  background-color: #FFD972;
  border-radius: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 960px) {
  .navHolder {
    position: fixed;
    left: 89vw;
    right: 0;
  }

  .navBars {
    display: block;
  }

  .navLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    width: 80vw;
    opacity: 0;
    position: absolute;
    left: -80vw;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navLinks.active {
    height: 80vh;
    opacity: 1;
  }
}
.homeContent {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 92, 84, 0.5)), to(rgba(242, 92, 84, 0.5))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeBubbles {
  position: relative;
}

.homeLgBubble {
  width: 358px;
  height: 358px;
  background-color: #FFD972;
  border-radius: 179px;
  padding: 109px 96px;
  position: relative;
  left: -30px;
}
.homeLgBubble h1 {
  font-family: "Caveat";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: black;
  letter-spacing: 2px;
}
.homeLgBubble p {
  font-family: "Lato";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: black;
  letter-spacing: 1px;
  text-align: center;
}

.homeSmBubble {
  width: 168px;
  height: 168px;
  border-radius: 84px;
  background-color: #FCBCB8;
  padding: 65px 30px;
  position: absolute;
  top: -50px;
  left: 240px;
}
.homeSmBubble p {
  font-family: "Lato";
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  color: black;
  width: 106px;
  letter-spacing: 1px;
}

.browseContent {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 232, 189, 0.5)), to(rgba(167, 232, 189, 0.5))), url(../images/browse/recipe-hero.jpg);
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url(../images/browse/recipe-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 90%;
  min-height: 100vh;
}

.browseWrapper {
  width: 85.9%;
  margin: 0 auto;
  padding-top: 150px;
}
.browseWrapper h1 {
  font-family: "Caveat";
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  color: black;
}

.browseGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.galleryItem {
  width: 350px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
}

.galleryImage {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleryText {
  width: 150px;
  height: 200px;
  border-radius: 24px;
  background-color: white;
  padding: 20px;
}
.galleryText h2 {
  font-family: "Lato Black";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: black;
}
.galleryText p {
  font-family: "Lato";
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  color: black;
}

.galleryTextIconBlock {
  width: 84px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryTextIconBlock p {
  font-family: "Lato";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: black;
  padding-top: 5px;
}
.galleryTextIconBlock img {
  width: 23px;
  height: 24.5px;
}

.hidden {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 40px;
}
footer p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: black;
}

.footLinks {
  width: 49.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footLinks a {
  font-family: "Lato";
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.smLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px;
}
.smLinks img {
  width: 19px;
  height: 19px;
}